@import "tailwindcss";

@theme {
  --color-background: #FCFCFC;
  --color-primary: #354D7B;
  --color-error: #FF4337;
  --color-success: #3CCA0A;
  --color-alternative: #1E9C65;
  --color-warning: #FFD337;
  --color-placeholder: #D9D9D9;
  --color-placeholder-bold: #605F5F;
  --font-display: "Phetsarath", sans-serif;



}

body {
  font-family: var(--font-display);
}

.font-display {
  font-family: var(--font-display);
}