@import "tailwindcss";

@theme {
  --color-background: #FCFCFC;
  --color-primary: #354D7B;
  --color-error: #FF4337;
  --color-success: #3CCA0A;
  --color-alternative: #1E9C65;
  --color-warning: #FFD337;
  --color-placeholder: #D9D9D9;
  --color-placeholder-bold: #605F5F;
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
}